@model List<kurs.Models.Tour>
    @{
        Layout = null;
    }
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/kurs.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/shared.css" asp-append-version="true" />     
</head>
<h1>Туры</h1>
<head>
    <link rel="stylesheet" href="~/css/shared.css" asp-append-version="true" />    
</head> 
<table class="table">
    <thead>
        <tr>
            <th>Название</th>
            <th>Описание</th>
            <th>Стоимость</th>
            <th>Дата начала</th>
            <th>Дата окончания</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var tour in Model)
        {
            <tr>
                <td>@tour.Name</td>
                <td>@tour.Description</td>
                <td>@tour.Price</td>
                <td>@tour.StartDate</td>
                <td>@tour.EndDate</td>
            </tr>
        }
    </tbody>
</table>